body, html{
    margin: 0;
    height: 100vh;
    background: linear-gradient(-45deg, #204, #000);
    overflow: hidden;
  }
  #c:focus{
    outline: none;
  }
  #c{
    border: 3px solid #0Ff3;
    position: absolute;
    background: #04f1;
    
    left: 50%;
    top: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
  }

canvas {
    flex-grow: 1;
}

footer {
    background-color: rgba(51, 51, 51, 0.5);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

p {
    margin: 0;
    font-size: 16px;
}

a {
    text-decoration: none; 
    color: inherit; 
}

a:hover {
    color: #ff9900;
}